* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rodape{
    margin-top: -5px;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;
}

.rodape-logo{
    width: 80px;
    height: 50px;  
}

.rodape-lista{
    margin-top: 20%;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.lista-link{
    text-decoration: none;
    margin-left: 1em;
}