@import url("login.css");
@import url("header.css");
@import url("paginaInicial.css");
@import url("cadastroUsuario.css");
@import url("servicosCadastrados.css");
@import url("perfilUsuario.css");
@import url("rodape.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #f8f2ff;
    --branco: #FFFFFF;
    --cinza-claro: #F9F9F9;
    --cinza-borda: #DDD;
    --sombra: rgba(0, 0, 0, 0.1);
    --fonte-principal: 'Poppins', sans-serif;    
}

.container{
    margin-top: -25px;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
}

/* Container Principal */
.main-index {
    display: flex;
    flex-wrap: wrap;
    gap: 60px; /* Espaçamento entre os quadros */
    justify-content: center; /* Centraliza os quadros */
    padding: 20px;
}

/* Quadros de Usuário */
.user-block {
    background-color: var(--branco);
    border: 1px solid var(--cinza-borda);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--sombra);
    width: 450px; /* Largura fixa de 20% da página */
    aspect-ratio: 2 / 1; /* Largura é 50% da altura */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 100px 100px rgba(0, 0, 0, 0.2);
}

/* Imagem do Usuário */
.user-image {
    width: 60%; /* A largura permanece 60% da largura do quadro */
    height: 200px; /* Ajusta automaticamente a altura */
    aspect-ratio: 3 / 4; /* Define uma proporção menor para reduzir a altura */
    border-radius: 10px;
    border: 3px solid var(--cinza-borda);
    margin-top: 20px;
    object-fit: cover; /* Garante que a imagem seja cortada corretamente */
    margin-bottom: 10px;
}

/* Título */
.user-block h3 {
    background-color: var(--branco);
    border: 1px solid var(--cinza-borda);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--sombra);
    width: 350px; /* Largura fixa */
    height: auto; /* Altura automática para permitir mais linhas */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: auto; /* Adiciona rolagem, caso necessário */
}

/* Lista de Informações */
.servicos-informacoes {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.servicos-lista, .perfil-lista {
    margin-bottom: 8px;
    text-align: left;
}

.servicos-label, .perfil-label {
    font-weight: bold;
    color: #333;
    display: inline-block;
    margin-bottom: 5px;
}

.input{
    color: #333;
}

.servicos-input, .perfil-input {
    background-color: var(--cinza-claro);
    border: 1px solid var(--cinza-borda);
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    color: #555;
    cursor: not-allowed;
    text-align: left;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .user-block {
        width: 40%; /* 2 quadros por linha em telas médias */
    }
}

@media screen and (max-width: 480px) {
    .user-block {
        width: 80%; /* 1 quadro por linha em telas pequenas */
    }
}

.menu-selecoes {
    font-size: 20px;
    color: white;

}
.menu-selecoes:hover{
    color: #E5B3FF;
}

.lista-apresentacao {
    display: flex;
    flex: 1;
    width: 15%;
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;
    height: 140px;
    flex-direction: column;
    align-items: center; /* Centraliza os itens na direção horizontal */
    text-align: justify; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaçamento entre os itens da lista */
}

.icones-inicial {
    margin-bottom: 10px; /* Espaçamento abaixo do ícone */
    width: 60px; /* Ajuste o tamanho do ícone conforme necessário */
    height: 60px;
}

.texto-inicial {
    font-size: 1rem;
    color: #333;
    line-height: 1.5; /* Para melhorar a legibilidade */
    text-align: justify; /* Centraliza o texto */
    margin: 0;
    width: 80%;
}

.lista {
    display: flex; /* Transforma a lista em um layout flexível */
    justify-content: space-between; /* Garante que os blocos sejam distribuídos */
    gap: 25px; /* Aumenta o espaçamento horizontal entre os blocos */
    padding: 10px;
    margin: 0;
    list-style: none; /* Remove os marcadores da lista */
}

/* Imagem de Avaliação Centralizada */
.user-rating-centralizada {
    width: 80px; /* Define o tamanho desejado da imagem */
    height: 80px; /* Define o tamanho desejado da imagem */
    margin: 10px auto; /* Centraliza horizontalmente */
    display: block; /* Garante que seja tratado como bloco */
    object-fit: contain; /* Garante que a imagem mantenha suas proporções */
}

/* Campo de Avaliação Alinhado */
.perfil-lista {
    margin-bottom: 15px; /* Espaçamento entre os campos */
    text-align: center; /* Centraliza o texto e a imagem */
}

.perfil-label {
    font-weight: bold;
    color: #333;
    display: block; /* Garante que a label fique em uma nova linha */
    margin-bottom: 5px;
}

/* Sobrescrever as regras globais do reset */
img.user-rating-centralizada {
    width: 200px !important; /* Força o tamanho da largura */
    height: 80px !important; /* Força o tamanho da altura */
}

/* Formulário de Pesquisa */
.form-pesquisa {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre os elementos */
}

/* Campo de Busca */
.input-filtro {
    flex: 1; /* Faz o campo de busca ocupar o espaço disponível */
    display: flex;
    flex-direction: column;
}

/* Contêiner dos Botões */
.botoes-container {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

/* Botão de Atualizar */
.botao-atualizar {
    background-color: var(--branco);
    border: 1px solid var(--cinza-borda);
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Mesma altura do campo de busca */
    width: 50px; /* Mesma largura do botão de busca */
    box-shadow: 0 2px 4px var(--sombra);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.botao-atualizar:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px var(--sombra);
}

.img-atualizar {
    width: 100%; /* Imagem ocupa todo o botão */
    height: auto;
    object-fit: contain;
}

.rating-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.rating-modal-content {
    background: #fff;
    padding: 30px; /* Aumentar o padding para mais espaço interno */
    border-radius: 20px; /* Suavizar os cantos */
    text-align: center;
    box-shadow: 20px 20px 60px #ffa2006b; /* Aumentar a sombra */
    width: 500px; /* Aumentar largura do quadro */
    line-height: 1.8; /* Aumentar o espaçamento entre linhas */
    font-size: 1.2rem; /* Aumentar o tamanho do texto */
}

.rating-buttons button {
    margin: 10px; /* Aumentar o espaçamento entre os botões */
    padding: 15px 30px; /* Aumentar o tamanho dos botões */
    border: 2px solid #ffa200; /* Adicionei uma borda laranja para combinar com o hover */
    border-radius: 60px;
    cursor: pointer;
    font-size: 1rem; /* Aumentar o texto nos botões */
    transition: background 0.5s ease, color 0.5s ease, transform 0.3s ease; /* Adiciona transições suaves */
}

.rating-buttons button:hover {
    background: #ffa200; /* Cor de fundo no hover */
    color: #fff; /* Altera a cor do texto no hover */
    transform: scale(1.1); /* Aumenta o botão ligeiramente */
}

/* Estilo do círculo ovalado com a inicial do usuário */
.user-initial-circle {
    margin-top: -15px;
    width: 50px;
    height: 50px;
    background-color: #ffa200; /* Cor de fundo laranja */
    color: #fff; /* Cor do texto branco */
    border-radius: 50%; /* Deixa o formato circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; /* Tamanho da letra */
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    transition: transform 0.3s ease; /* Efeito de transição */
}

